#file_upload {
  display: none;
}
.btn:focus, .upload-btn:focus{
  outline: 0 !important;
}

html,
body {  
  background-color: #CDEFFA;
}

body {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}



#upload-btn {
  color: #ffffff;
  background-color: #F89406;
  border: .5px #1072C3 solid;
  margin: 4% -15%;    
  width:30%;
   height:9.5%;
   border-radius:10px;
   font-size:1.2vw;
   font-weight: bold;
    margin-bottom: -17%;
 }
#upload-btn:hover,
#upload-btn:focus,
#upload-btn.active {
  color: #ffffff;
  background-color: #FA8900;
  border: none;
}
#upload-btn:active{
	background-color:#BF6A0A;
}


h4 {
  
  margin-top: 60px;
  font-size:2.5vw;

  color: #F0F7FA;
}
#logo{
  margin: 5% 0 5%;
}

#box{
	border: 2px solid black;
	background-color: #1072C7;
	margin:10% 30% ;
  padding:20px 0;
	border-radius: 33.5px;
  width:40%;
  height:60%;



}
#selectordiv{
  border: 1px black solid;
      width: 33% ;
    height: 38px;
    border-radius: 40px;
    margin: auto;
    padding-bottom: 15px;
        margin-top: 2%;
  }
select{
	margin: auto;
	margin-bottom: 2.2vw;
	margin-top: -2px;
  font-size: larger;
  width: 95%;
    height: 150%;
  outline: none;
  border: none; 
  border-radius: 8px;
  background-color: rgba(255,255,255,0);
}

label, 
#filereceived{
color:#F0F7FA;
font-size: 1.3vw;
 }
 #emailupload{
  padding:4%;
color:#F0F7FA;
font-size: 1.3vw;
    margin-bottom: -20px;
}

#email{
   position:relative;
  width:50%;
  font-size: x-large;
  margin-top: 1%;
  }
#emailwords{
  font-size:1.3vw;
}
#tandc{
  font-size:1.3vw;
}
#tc{

  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 8px;
}
#process-btn {
  color: #ffffff;
  background-color: #F89406;
  border: .5px #1072C3 solid;
       margin: 4% -15%;
   width:30%;
   height:10%;
   border-radius:10px;
   font-size:1vw;
   font-weight: bold;
    cursor:not-allowed;
      margin-bottom: -17%;
 }
#process-btn:hover,
#process-btn:focus,
#process-btn.active {
  color: #ffffff;
  background-color: #FA8900;
  border: none;
}
#process-btn:active{
  background-color:#BF6A0A;
}
#filereceived{
  margin-top: 16%;
}
.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s ease-in;
  


}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s ease-out;
  margin-top: -30%;
  transition: margin-top 0s 1s;
}

div#bottomdiv {
   margin-top: -19%;
   
}
